
@{
    ViewBag.Title = "frmRecipeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />
<div class="box-header with-border">
    @*Form Title*@
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
        <div style="text-align:right;">
            <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save"></i>Save</button>
            <button id="btnView" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
            @* <button id="btnDelete" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>Delete</button>*@
            <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
        </div>
    </div>
</div>
<div class="box-body">
    @*<div class="form-group">
        <fieldset class="panel-border" id="divRenew">
            <legend class="panel-border">Comming New :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="LicenseInfoGrid" class=""></div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>*@
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Recipe No :</div>
            <div class="col-sm-2"><input type="text" id="SlNo" name="SlNo" class="form-control" placeholder="Auto" readonly /></div>
            <input type="hidden" id="ID" name="ID" class="txtBox" />
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Revision No :</div>
            <div class="col-sm-2"><input type="text" id="RevisionNo" name="RevisionNo" placeholder="Auto" class="form-control" readonly /></div>
            <div class="col-sm-3">
                <button id="btnRevision" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-plus"></i>Add Revision</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Company Code<span style="color: red">*</span> : </div>
            <div class="col-sm-2">
                <input type="text" id="CompanyCode" name="CompanyCode" class="form-control txtBox" placeholder="Press Any" readonly />
            </div>
            <div class="col-sm-1">@*<button id="btnFind" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>*@</div>
            <div class="col-sm-2">Name :</div>
            <div class="col-sm-3"><input type="text" id="CompanyName" name="CompanyName" class="form-control" readonly /></div>
             </div>
    </div>
    <div class="form-group">
    <div class="row">
        <div class="col-sm-2"> Unit Code:</div>
        <div class="col-sm-2"><input type="text" id="CompanyUnitCode" name="CompanyUnitCode" readonly="readonly" class="form-control" placeholder="Auto" /></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-2"> Unit Name:</div>
        <div class="col-sm-3">
            <input type="text" id="CompanyUnitName" name="CompanyUnitName" readonly="readonly" class="form-control" placeholder="Auto" />
        </div>

    </div>
</div>
    <div class="form-group">
        <fieldset class="panel-border">
            <legend class="panel-border">Product Information :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">Product Code<span style="color: red">*</span> : </div>
                    <div class="col-sm-2">
                        <input type="text" id="ProductCode" name="ProductCode" class="form-control txtBox" placeholder="Press Any"  readonly />
                    </div>
                    <div class="col-sm-1">@*<button id="btnFindProduct" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>*@</div>
                 
                    <div class="col-sm-2">PackSize:</div>
                    <div class="col-sm-5"><input type="text" id="PackSizeName" name="PackSizeName" class="form-control" readonly /></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        Product Specification :
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="ProductSpecification" name="ProductSpecification" class="form-control txtBox" readonly />
                    </div>
                    <div class="col-sm-3">Introduced in Bangladesh : </div>
                    <div class="col-sm-2">
                        <input type="text" id="IntroducedInBD" name="IntroducedInBD" class="form-control txtBox" readonly />
                    </div>
                   @* <div class="col-sm-1">SAP Code</div>
                    <div class="col-sm-2"><input type="text" id="SAPProductCode" name="SAPProductCode" class="form-control" readonly /></div>
                *@</div>
            </div>
            <!--<div class="form-group">
                <div class="row">
                    <div class="col-sm-2">Dosage Form :</div>
                    <div class="col-sm-2"><input type="text" id="DosageFormName" name="DosageFormName" class="form-control" readonly /></div>
                   

                        <div class="col-sm-2">Generic Name & Strength : </div>
                        <div class=" col-sm-3">
                            <textarea class="form-control" id="GenAndStrength" name="GenAndStrength" placeholder="Generic Name and Strength" rows="4" readonly></textarea>
                        </div>-->

                        @*<div class="col-sm-3">Introduced in Bangladesh </div>
            <div class="col-sm-1">
                <input type="text" id="IntroducedInBD" name="IntroducedInBD" class="form-control txtBox" readonly />
            </div>*@


                    <!--</div>
                </div>-->
        </fieldset>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Submission Type :</div>
            <div class="col-sm-3">
                <select class="form-control txtBox" id="MeetingType">
                    <option selected="selected" value="Local">Local</option>
                    <option value="DCC">DCC</option>
                </select>
            </div>
            <div class="col-sm-2">Manufacturing Type :</div>
            <div class="col-sm-3">
                <select class="form-control txtBox" id="ManufacturerType">
                    <option selected="selected" value="Local">Local</option>
                    <option value="Import">Import</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <fieldset class="panel-border">
            <legend class="panel-border" id="lgMeetingType">Local</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Received Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="ReceivedDate" name="ReceivedDate" disabled placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i> </span>
                        </div>
                    </div>
                    <div id="divLocal">
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">DCC No : </div>
                        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="DccNo" name="DccNo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-sm-2">Remarks : </div>
                    <div class="col-sm-8">
                        <input type="text" id="MeetingRemarks" name="MeetingRemarks" placeholder="Remarks" class="txtBox form-control " />
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group" id="divImportInfo">
        <fieldset class="panel-border">
            <legend class="panel-border">Import Information :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Country of Origin : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <input type="text" class="form-control" id="CountryOfOrigin" name="CountryOfOrigin" placeholder="Country of Origin">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Manufacturer Name : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <input type="text" id="ManufacturerName" name="ManufacturerName" placeholder="Manufacturer Name" class="txtBox form-control " />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Received Date : </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            <input type="text" class="form-control txtBox" id="ImportProposalDate" name="ImportProposalDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Submission Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="ImportSubmissionDate" name="ImportSubmissionDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-sm-2">Remarks : </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txtBox" id="ImportRemarks" name="ImportRemarks" placeholder="Remarks">
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="form-group" id="divRenew">
        <fieldset class="panel-border">
            <legend class="panel-border">Approval Information :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Status : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <select class="form-control txtBox" id="ApprovalStatus">
                            <option selected="selected" value="Approved">Approved</option>
                            <option value="Not Approved">Not Approved</option>
                            <option value="Inspection">Inspection</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Submission Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="ApvSubmissionDate" name="ApvSubmissionDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Meeting Date : </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            <input type="text" class="form-control txtBox" id="ApvMeetingDate" name="ApvMeetingDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Approval Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="ApvApprovalDate" name="ApvApprovalDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Valid Up To : </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            <input type="text" class="form-control txtBox" id="ApvValidUptoDate" name="ApvValidUptoDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Date of Extension : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="ApvDateOfExtension" name="ApvDateOfExtension" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-sm-2">Remarks : </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txtBox" id="ApvRemarks" name="ApvRemarks" placeholder="Remarks" maxlength="300">
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group" id="divInspection">
        <fieldset class="panel-border">
            <legend class="panel-border">Inspection Information :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Inspection Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="InspectionDate" name="InspectionDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Remarks : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <input type="text" class="form-control" id="InspectionRemarks" name="InspectionRemarks" maxlength="300">
                    </div>
                    <div class="col-sm-1"> </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Proposed By :</div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="ProposedBy" maxlength="30" name="ProposedBy">
            </div>
            <div class="col-sm-2">Alarm Days :</div>
            <div class="col-sm-1">
                <input type="text" id="AlarmDays" name="AlarmDays" maxlength="5" placeholder="Alarm Days" class="txtBox form-control numeric " />
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="panel-border">
                    <legend class="panel-border">Upload Documents :</legend>
                    <div class="row">
                        <div class="col-sm-2">
                            Document Name<span style="color: red">*</span>:
                        </div>
                        <div class="col-sm-3">
                            <select id="RefNo" class="form-control txtBox" tabindex="" name="RefNo">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="file" class="txtBox" id="UploadFile" name="UploadFile" />
                            <i class="glyphicon glyphicon-upload form-control-feedback"></i>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>List of Document File</label>
                            <div id="FileGrid" class=""></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="box-footer"></div>
<div class="row">
    <div id="DisplayPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="DisplayPopupWindowGrid" class="PopUpGrid"></div>
    </div>

    <div id="CompanyWindow" class="PopupWindowLayout" style="display: none;">
        <div id="CompanyWindowGrid" class="PopUpGrid"></div>
    </div>
    <div id="ProductWindow" class="PopupWindowLayout" style="display: none;">
        <div id="ProductWindowGrid" class="PopUpGrid"></div>
    </div>
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
        opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 42%; color: White;">
        Please wait... <img src="../../Content/Images/ajax-loader1.gif">
    </p>
</div>
<script type="text/javascript">

    $('#btnReset').click(function () {
        ResetData();
        //$("#RefNo").empty();
        $('#btnFind').removeAttr('disabled');
        $('#btnFindProduct').removeAttr('disabled');
        $("#FileGrid").data("kendoGrid").dataSource.data([]);
        DisplayPageView();
    });


    $('#btnRevision').click(function () {
        $('#ID').val('');
        //   $('#SlNo').val('');
        $('#RevisionNo').val('');
        $("#divRenew").find('input, textarea, select').val('');
        $("#FileGrid").data("kendoGrid").dataSource.data([]);
    });
    function CheckPagePartAccessPrivilege() {

        switch ('@ViewBag.PageAccess') {
            case "A":
                var options = new Array();
                options.push('<option  value="">--Select Any--</option>');
                options.push('<option  value="Local Document">Local Document</option>');
                options.push('<option  value="DCC Document">DCC Document</option>');
                options.push('<option  value="Import Document">Import Document</option>');
                options.push('<option  value="Approval Document">Approval Document</option>');
                options.push('<option  value="Inspection Document">Inspection Document</option>');
                $("#RefNo").html(options.join(''));
                break;
            case "P":
                var options = new Array();
                options.push('<option  value="">--Select Any--</option>');
                options.push('<option  value="Local Document">Local Document</option>');
                options.push('<option  value="DCC Document">DCC Document</option>');
                options.push('<option  value="Import Document">Import Document</option>');
                $("#RefNo").html(options.join(''));
                break;
        }
    }
    function DisplayPageView() {
        $("#divImportInfo").hide();
        $("#divInspection").hide();
        $("#MeetingType").change(function () {
            var mType = $("#MeetingType").val();
            if (mType == "Local") {
                document.getElementById("lgMeetingType").innerHTML = "Local :";
                $("#divLocal").show();
            }
            else {
                document.getElementById("lgMeetingType").innerHTML = "DCC :";
                $("#divLocal").show();
            }
        });
        $("#ApprovalStatus").change(function () {
            var appStatus = $("#ApprovalStatus").val();
            if (appStatus == "Inspection") {
                $("#divInspection").show();
            }
            else {
                $("#divInspection").hide();
            }
        });

        $("#ManufacturerType").change(function () {
            var mType = $("#ManufacturerType").val();
            if (mType == "Import") {
                $("#divImportInfo").show();
            }
            else {
                $("#divImportInfo").hide();
            }
        });
    }

    $(document).ready(function () {
        CheckUnSavedData();
        DisplayPageView();
        CheckPagePartAccessPrivilege();
        // EventPermission();
        $('.input-group.date').datepicker({
            format: "d/mm/yyyy",//dd M yyyy
            // daysOfWeekDisabled: "5,6",
            autoclose: true,
            todayHighlight: true
            //,todayBtn: true,
        });
        //To Define Data  for License info Kendo Grid
        var licenseInfoDataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: true }
                    }
                }
            },
            pageSize: 10,
            transport: {
                read: function () {
                    $.ajax({
                        url: '@Url.Action("GetNewComming", "General")', // at first data
                        type: "GET",
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            $("#LicenseInfoGrid").data("kendoGrid").dataSource.data(data.dataMaster);
                        }
                    });
                }
            }
        });

        //Initializing Main page details Kendo Grid Colums
        var licenseInfoGrid = $('#LicenseInfoGrid').kendoGrid({
            dataSource: licenseInfoDataSource,

            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: ["excel",{ template: "<input type='text' id='txtInputLicense'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ID", hidden: true },
                 { field: "SlNo ", title: "RecipeNo", width: 120 },
                 { field: "ProductCode", title: "ProductCode", width: 120 },
                 { field: "RevisionNo", title: "RevisionNo", width: 120 },
                 { field: "SAPProductCode", title: "SAPCode", width: 120 },
                 { field: "BrandName", title: "BrandName", width: 120 },
                 { field: "GenAndStrength", title: "GenAndStrength", width: 360 },
                 { field: "ProductSpecification", title: "ProductSpec", width: 120 },
                 { field: "MeetingType", title: "MeetingType", width: 120 },
                 { field: "ManufacturerType", title: "Manu.Type", width: 120 },
                 { field: "ProposedBy", title: "ProposedBy", width: 120 },
                 { field: "ApprovalStatus", title: "Apv.Status", width: 120 },
                 { field: "ApvSubmissionDate", hidden: true, title: "SubmissionDate", width: 120 },
                 { field: "InspectionDate", hidden: true, title: "InspectionDate", width: 120 },
                 { field: "ApvApprovalDate", title: "ApprovalDate", width: 120 },
                 { field: "ApvValidUptoDate", title: "ValidUpto", width: 120 },
                 { field: "AlarmDays", title: "AlarmDays", width: 100 },
                 { field: "CompanyCode", title: "C.Code", width: 100 },
                 { field: "CompanyName", title: "CompanyName", width: 160 },
            ]
        }).data('kendoGrid');

        $('#btnView').click(function () {
            DisplayPopupWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllInfo", "RecipeInfo")',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#DisplayPopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        DisplayPopupWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });

        });

        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#DisplayPopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: { type: "string" },
                            // ADD THIS LINE so Kendo knows to parse it
                            CompanyUnitName: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            //filterable: true,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        contains: "Contains",
                        isempty: "Is empty",
                        isnotempty: "Is not empty"
                    }
                }
            },
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel",{ template: "<input type='text' id='txtPopupInput'  style='float:right' placeholder='Keyword Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: "100%",
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ID", hidden: true },
                 { field: "SlNo ", title: "RecipeNo", width: 120 },
                 { field: "CompanyCode", title: "CompCode", width: 120 },
                { field: "CompanyName", title: "CompanyName", width: 140, filterable: { multi: true } },
                { field: "CompanyUnitCode", title: "UnitCode", width: 120 },
                // ADD THIS LINE so the column exists in the row data
                { field: "CompanyUnitName", title: "UnitName", width: 140, filterable: { multi: true } },
                 { field: "ProductCode", title: "ProductCode", width: 120 },
                 { field: "RevisionNo", title: "RevisionNo", width: 120 },
                 { field: "SAPProductCode", title: "SAPCode", width: 120 },
                 { field: "BrandName", title: "BrandName", width: 120, filterable: { multi: true } },
                 /*{ field: "GenAndStrength", title: "GenericAndStrength", width: 360 },*/
                 { field: "ProductSpecification", title: "ProductSpec", width: 120 },
                 { field: "MeetingType", title: "MeetingType", width: 120 },
                 { field: "ManufacturerType", title: "Manu.Type", width: 120 },
                 { field: "ProposedBy", title: "ProposedBy", width: 120 },
                 { field: "ApprovalStatus", title: "Apv.Status", width: 120 },
                 { field: "ApvSubmissionDate", hidden: true, title: "SubmissionDate", width: 80 },
                 { field: "InspectionDate", hidden: true, title: "InspectionDate", width: 80 },
                 { field: "ApvApprovalDate", title: "ApprovalDate", width: 120 },
                 { field: "ReceivedDate", title: "ReceivedDate", width: 120 },
                 { field: "SubmissionDate", title: "SubmissionDate", width: 120 },
                 { field: "ApvValidUptoDate", title: "Valid Upto", width: 120 },
                 { field: "AlarmDays", title: "AlarmDays", width: 100 }
            ]

        }).data('kendoGrid');

      

        $('#DisplayPopupWindowGrid').dblclick(function () {
            debugger
    var grid = $(this).data('kendoGrid');
    var selectRow = grid.dataItem(grid.select());
    DisplayPopupWindow.close();

    // --- START OF FRONTEND FIX ---
    // selectRow.CompanyCode currently holds the full 6-digit unit code (e.g., "123456")
    var fullUnitCode = selectRow.CompanyCode || "";

    // Extract the first 4 digits for the base Company Code
    var baseCompanyCode = fullUnitCode.length >= 4 ? fullUnitCode.substring(0, 4) : fullUnitCode;

    // Populate the UI textboxes
    $('#CompanyUnitCode').val(fullUnitCode);         // Sets "123456"
    $('#CompanyCode').val(baseCompanyCode);          // Sets "1234"
           $('#CompanyName').val(selectRow.CompanyName);    // Sets the name from the SQL JOIN
           $('#CompanyUnitName').val(selectRow.CompanyUnitName);    // Shows your newly joined Unit Name!

    // Because RecipeBEL does not have a CompanyUnitName property, we clear it.
    // If you need the unit name text to appear, you would need to make a quick AJAX call here
    // using the fullUnitCode to fetch the unit name from COMPANY_UNIT_INFO.
    $('#CompanyUnitName').val('');
    // --- END OF FRONTEND FIX ---

    SetMasterData(selectRow);

    if (selectRow.MeetingType == "Local") {
        document.getElementById("lgMeetingType").innerHTML = "Local :";
        $("#divLocal").show();
    }
    else {
        document.getElementById("lgMeetingType").innerHTML = "DCC :";
        $("#divLocal").show();
    }

    if (selectRow.ManufacturerType == "Import") {
        $("#divImportInfo").show();
    }
    else {
        $("#divImportInfo").hide();
    }
    if (selectRow.ApprovalStatus == "Inspection") {
        $("#divInspection").show();
    }
    else {
        $("#divInspection").hide();
    }
    $('#btnFind').attr('disabled', 'disabled');
    $('#btnFindProduct').attr('disabled', 'disabled');

    $.ajax({
        url: '@Url.Action("GetFileByRefId", "RecipeInfo")',
        type: 'GET',
        data: { refLevel1: selectRow.ID },
        success: function (data) {
            $("#FileGrid").data("kendoGrid").dataSource.data(data);
        }
    });
});

        //Produc Name wise Filter table row
        $("#txtPopupInput").keyup(function () {
            var val = $(this).val();
            $("#DisplayPopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "SlNo", operator: "contains", value: val },
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "SAPProductCode", operator: "contains", value: val },
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "ApprovalStatus", operator: "startswith", value: val },
                     { field: "ApvApprovalDate", operator: "contains", value: val },
                     { field: "ApvValidUptoDate", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "BrandName", operator: "contains", value: val },
                     { field: "GenAndStrength", operator: "contains", value: val },
                     { field: "MeetingType", operator: "contains", value: val },
                     { field: "ManufacturerType", operator: "contains", value: val },
                     { field: "AlarmDays", operator: "contains", value: val },
                     { field: "ProductSpecification", operator: "contains", value: val }
                ]
            });
        });

        //Display window
        var DisplayPopupWindow = $("#DisplayPopupWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "100%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Record."
        }).data("kendoWindow").center();

        // Company window for find button
        var CompanyWindow = $("#CompanyWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Company"
        }).data("kendoWindow").center();


       @* $('#btnFind').click(function () {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        CompanyWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });
        $("#CompanyCode").on('keyup keypress keydown click dblclick', function (e) {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        CompanyWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });*@

       $('#btnFind').click(function () {
    CompanyWindow.open();
    $.ajax({
        url: '@Url.Action("GetAllCompany", "General")',
        method: 'get',
        data: 'json',
        success: function (data) {

            var flatData = [];

            $.each(data, function (i, company) {

                if (company.Units && company.Units.length > 0) {
                    $.each(company.Units, function (j, unit) {
                        flatData.push({
                            CompanyCode: company.CompanyCode,
                            CompanyName: company.CompanyName,
                            LicenseNo: company.LicenseNo,
                            CompanyUnitCode: unit.CompanyUnitCode,
                            CompanyUnitName: unit.CompanyUnitName
                        });
                    });
                } else {
                    flatData.push({
                        CompanyCode: company.CompanyCode,
                        CompanyName: company.CompanyName,
                        LicenseNo: company.LicenseNo,
                        CompanyUnitCode: "",
                        CompanyUnitName: ""
                    });
                }
            });

            $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(flatData);
        }
    });
});
$("#CompanyCode").on('keyup keypress keydown click dblclick', function (e) {
    CompanyWindow.open();
    $.ajax({
        url: '@Url.Action("GetAllCompany", "General")',
        method: 'get',
        data: 'json',
        success: function (data) {

            var flatData = [];

            $.each(data, function (i, company) {

                if (company.Units && company.Units.length > 0) {
                    $.each(company.Units, function (j, unit) {
                        flatData.push({
                            CompanyCode: company.CompanyCode,
                            CompanyName: company.CompanyName,
                            CompanyUnitCode: unit.CompanyUnitCode,
                            CompanyUnitName: unit.CompanyUnitName
                        });
                    });
                } else {
                    flatData.push({
                        CompanyCode: company.CompanyCode,
                        CompanyName: company.CompanyName,
                        CompanyUnitCode: "",
                        CompanyUnitName: ""
                    });
                }
            });

            $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(flatData);
        }
    });
});
        //Initializing Main page details Kendo Grid Colums
        var companyGrid = $('#CompanyWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CompanyCode",
                        fields: {
                            CompanyCode: { type: "string" },
                            Units: { defaultValue: [] }
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtCompanyKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" },],
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                { field: "CompanyCode", title: "CompanyCode", width: 80 },
                { field: "CompanyName", title: "CompanyName", width: 100, filterable: { multi: true } },
                { field: "CompanyUnitCode", title: "CompanyUnitCode", width: 160 },
                { field: "CompanyUnitName", title: "CompanyUnitName", width: 80 }
            ]

        }).data('kendoGrid');

        $('#CompanyWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            $('#CompanyCode').val(selectRow.CompanyCode);
            $('#CompanyName').val(selectRow.CompanyName);
            $('#CompanyUnitCode').val(selectRow.CompanyUnitCode);
            $('#CompanyUnitName').val(selectRow.CompanyUnitName);
            CompanyWindow.close();
            changeAny = 1;

        });

        //Company Name wise Filter table row
        $("#txtCompanyKeyword").keyup(function () {
            var val = $(this).val();
            $("#CompanyWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "Address", operator: "contains", value: val }
                ]
            });
        });

        //Start Product Popup Info
        // Product window for find button
        var ProductWindow = $("#ProductWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Product."
        }).data("kendoWindow").center();


        $('#btnFindProduct').click(function () {d
            // Validate company selected before opening product list
            var selectedCompany = $('#CompanyUnitCode').val();
            if (!selectedCompany || selectedCompany.trim() === "") {
                toastr.warning('Please select a company first.');
                return;
            }
            ProductWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllActiveProduct", "General")',
                type: 'GET',
                data: { "companyCode": selectedCompany },
                success: function (data) {
                    if (data != "") {
                        $('#ProductWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        ProductWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });
        $("#ProductCode").on('keyup keypress keydown click dblclick', function (e) {
            // Validate company selected before opening product list
            var selectedCompany = $('#CompanyUnitCode').val();
            if (!selectedCompany || selectedCompany.trim() === "") {
                toastr.warning('Please select a company first.');
                return;
            }
            ProductWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllActiveProduct", "General")',
                type: 'GET',
                data: { "companyCode": selectedCompany },
                success: function (data) {
                    if (data != "") {
                        $('#ProductWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        ProductWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });
        //Initializing Main page details Kendo Grid Colums
        var productGrid = $('#ProductWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ProductCode",
                        fields: {
                            ProductCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtProductKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ProductCode", title: "ProductCode", width: 120 },
                 { field: "SAPProductCode", title: "SapProductCode", width: 120 },
                 { field: "PackSizeName", title: "PackSize", width: 80 },
                 { field: "BrandName", title: "BrandName", width: 100 },
                 { field: "GenAndStrength", title: "GenericAndStrength", width: 350 },
                 { field: "ProductSpecification", title: "ProductSpec", width: 120 },
            ]

        }).data('kendoGrid');

        $('#ProductWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            $('#ProductCode').val(selectRow.ProductCode);
            $('#SAPProductCode').val(selectRow.SAPProductCode);
            $('#PackSizeName').val(selectRow.PackSizeName);
            $('#DosageFormName').val(selectRow.DosageFormName);
            $('#GenAndStrength').val(selectRow.GenAndStrength);
            $('#IntroducedInBD').val(selectRow.IntroducedInBD);
            $('#ProductSpecification').val(selectRow.ProductSpecification);
            //SetMasterData(selectRow1);
            ProductWindow.close();
            changeAny = 1;

        });

        //Product Name wise Filter table row
        $("#txtProductKeyword").keyup(function () {
            var val = $(this).val();
            $("#ProductWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "SAPProductCode", operator: "contains", value: val },
                     { field: "PackSize", operator: "contains", value: val },
                     { field: "GenAndStrength", operator: "contains", value: val },
                     { field: "BrandName", operator: "contains", value: val }
                ]
            });
        });

        //end Product info

        //To Define Data  for Kendo Grid
        var fileDataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "FileID",
                    fields: {
                        FileID: { editable: false },
                        FileCode: { editable: false },
                        Extention: { editable: false },
                        FileName: { editable: false },
                        RefNo: { editable: false },
                        FileSize: { editable: false },
                        SetOn: { editable: false },
                        SetByName: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        //Initializing Main page details Kendo Grid Colums
        var grid = $('#FileGrid').kendoGrid({
            dataSource: fileDataSource,
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo", title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Delete", text: "Delete", imageClass: "glyphicon glyphicon-trash", click: handleFileDelete }], title: "Delete Action", width: "120px", attributes: { "class": "btnDelete" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]

        }).data('kendoGrid');

        $("#txtInput").keyup(function () {
            var val = $(this).val();
            $("#FileGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        function handleFileDelete(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));

            if (confirm('Do you really want to delete this file?')) {
                //event.preventDefault();
                //event.stopPropagation();
                $.ajax({
                    url: '@Url.Action("DeleteFile", "General")',
                    type: 'POST',
                    data: JSON.stringify({ "fileId": dataItemInfo.FileID, "fileCode": dataItemInfo.FileCode, "extention": dataItemInfo.Extention }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        if (response.Status == "Yes") {
                            toastr.success(OperationMsg("FD"));
                            $("#FileGrid").data("kendoGrid").dataSource.remove(dataItemInfo);
                        }
                        else {
                            toastr.error(OperationMsg("FND"));
                        }
                    }
                });
            }
        };
        // Download Button in Grid
        function handleDownload(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };

        $('#btnSave').click(function () {
            if (changeAny == 1)
            {
                var checkInput = InputValidation('CompanyCode') + InputValidation('ProductCode');
                if (checkInput == 0) {
                    model.ID = $('#ID').val();
                    model.SlNo = $('#SlNo').val();
                    model.RevisionNo = $('#RevisionNo').val();
                    model.CompanyCode = $('#CompanyUnitCode').val();
                    model.ProductCode = $('#ProductCode').val();
                    model.MeetingType = $('#MeetingType').val();
                    model.ManufacturerType = $('#ManufacturerType').val();
                    model.DccNo = $('#DccNo').val();
                    model.ReceivedDate = $('#ReceivedDate').val();
                    model.ProposalDate = $('#ProposalDate').val();
                    model.MeetingRemarks = $('#MeetingRemarks').val();
                    model.CountryOfOrigin = $('#CountryOfOrigin').val();
                    model.ManufacturerName = $('#ManufacturerName').val();
                    model.ImportProposalDate = $('#ImportProposalDate').val();
                    model.ImportSubmissionDate = $('#ImportSubmissionDate').val();
                    model.ImportRemarks = $('#ImportRemarks').val();
                    model.ApvSubmissionDate = $('#ApvSubmissionDate').val();
                    model.ApvMeetingDate = $('#ApvMeetingDate').val();
                    model.ApvApprovalDate = $('#ApvApprovalDate').val();
                    model.ApvValidUptoDate = $('#ApvValidUptoDate').val();
                    model.ApvDateOfExtension = $('#ApvDateOfExtension').val();
                    model.ApprovalStatus = $('#ApprovalStatus').val();
                    model.ApvRemarks = $('#ApvRemarks').val();
                    model.InspectionDate = $('#InspectionDate').val();
                    model.InspectionRemarks = $('#InspectionRemarks').val();
                    model.ProposedBy = $('#ProposedBy').val();
                    model.AlarmDays = $('#AlarmDays').val();
                    $.ajax({
                        url: '@Url.Action("frmRecipeInfo", "RecipeInfo")',
                        data: JSON.stringify(model),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                $("#ID").val(data.ID);
                                $("#SlNo").val(data.SlNo);
                                $("#RevisionNo").val(data.RevisionNo);
                                OperationMsg(data.Mode);
                                changeAny = 0;
                            }
                            else {
                                ErrorFrmServerMsg(data.Status);
                            }

                        }
                    }); //End of ajax call
                }
                else {
                    ValidationMsg();
                }
            }
            else {
                toastr.warning(OperationMsg("NC"));
            }

        });
        var model = {
            "ID": "", "SlNo": "", "RevisionNo": "", "CompanyCode": "", "ProductCode": "", "MeetingType": "", "ManufacturerType": "", "DccNo": "", "ReceivedDate": "", "ProposalDate": "", "MeetingRemarks": "", "CountryOfOrigin": "", "ManufacturerName": "",
            "ImportProposalDate": "", "ImportSubmissionDate": "", "ImportRemarks": "", "ApvSubmissionDate": "", "ApvMeetingDate": "", "ApvValidUptoDate": "", "ApvDateOfExtension": "", "ApprovalStatus": "", "ApvRemarks": "",
            "InspectionDate": "", "InspectionRemarks": "", "ProposedBy": "", "AlarmDays": ""
        };
        var dataItemInfo = {};

    });

    //$('#image-file').bind('change', function ()
    $('#UploadFile').on('change', function (e) {
        var checkInput = InputValidation('RefNo');

        if (checkInput == 0) {
            var files = e.target.files;
            var refId = $("#ID").val();
            if (refId != "") {
                var fileSize = 0;
                var fSizeStrg = "";
                $file = $("#UploadFile");
                for (var f = 0; f < files.length; f++) {
                    var iSize = ($file[0].files[f].size / 1024);
                    fileSize = (Math.round((iSize / 1024) * 100) / 100);
                    if (fSizeStrg != "") {
                        fSizeStrg += ',' + fileSize;
                    }
                    else {
                        fSizeStrg = fileSize;
                    }
                    if (iSize / 1024 > 25) {
                        iSize = (Math.round((iSize / 1024) * 100) / 100);
                        alert('File size is ' + iSize + ' MB');
                        $("#divLoading").show();
                        if (iSize > 25) {
                            toastr.warning(OperationMsg("UFW"));
                            $("#divLoading").hide();
                            return;
                        }
                    }
                }
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        $("#divLoading").show();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadFile", "RecipeInfo")' + '?refLevel1=' + refId + '&refLevel2=' + "" + '&fileSize=' + fSizeStrg + '&refNo=' + $("#RefNo").val(),
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#divLoading").hide();
                                if (result.msgType == "FUS") {
                                    toastr.success(OperationMsg(result.msgType));
                                    $("#FileGrid").data("kendoGrid").dataSource.data(result.FileList);
                                    $("#RefNo").val('--Select Any--');
                                    $("#ReceivedDate").val(result.ReceiveDate);
                                    $('#ReceivedDate').attr('disabled', 'disabled');
                                }
                                else if (result.msgType == "FLI") {
                                    toastr.warning(OperationMsg(result.msgType));
                                }
                                else {
                                    toastr.warning(OperationMsg(result.msgType));
                                }
                            }

                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
            else {
                toastr.warning(OperationMsg("FI"));
            }
        }
        else {
            toastr.error(OperationMsg("SDN"));
        }

    });



</script>
