
@{
    //ViewBag.Title = "frmBlockList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />
<div class="box-header with-border">
    @*Form Title*@
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
        <div style="text-align:right;">
            <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save"></i>Save</button>
            <button id="btnView" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
            @* <button id="btnDelete" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>Delete</button>*@
            <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
        </div>
    </div>
</div>
<div class="box-body">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Company Code<span style="color: red">*</span> : </div>
            <div class="col-sm-2">
                <input type="text" id="CompanyCode" name="CompanyCode" class="form-control txtBox" readonly />
            </div>
            <div class="col-sm-1"><button id="btnFind" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button></div>
            <div class="col-sm-2">Company Name :</div>
            <div class="col-sm-5"><input type="text" id="CompanyName" name="CompanyName" class="form-control" readonly /></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Company Address : </div>
            <div class=" col-sm-4">
                <textarea class="form-control" id="Address" name="Address" placeholder="Company Address" rows="2" readonly></textarea>
            </div>
            @*<div class="col-sm-1">SL No :</div>
            <div class="col-sm-2"><input type="text" id="SlNo" name="SlNo" class="form-control" placeholder="Auto" readonly /></div>*@
            <div class="col-sm-1"></div>
            <input type="hidden" id="ID" name="ID" class="txtBox" />
            <div class="col-sm-2">Record Version :</div>
            <div class="col-sm-2"><input type="text" id="RevisionNo" name="RevisionNo" placeholder="Auto" class="form-control" readonly /></div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="form-group">
        <fieldset class="panel-border" id="divRenew">
            <legend class="panel-border">New Record Info :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">TrackingNo/BL No : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <input type="text" id="BLNo" name="BLNo" class="form-control txtBox" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Issue Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="BlockListDate" name="BlockListDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Received Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="ProposedDate" name="ProposedDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Meeting Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control" id="MeetingDate" name="MeetingDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Approval No : </div>
                    <div class="col-sm-3">
                        <input type="text" id="ApprovalNo" name="ApprovalNo" placeholder="Approval No" class="txtBox form-control " />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Approval Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group date">
                            <input type="text" class="form-control txtBox" id="ApprovalDate" name="ApprovalDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Remarks : </div>
                    <div class="col-sm-8">
                        <textarea id="Remarks" name="Remarks" placeholder="Remarks" class="txtBox form-control " rows="2"></textarea>
                    </div>
                    @*<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Entry Date : </div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <input type="text" class="form-control" id="SetOn" name="SetOn" readonly>
                    </div>*@
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="panel-border">
                    <legend class="panel-border">Upload Documents :</legend>
                    <div class="row">
                        <div class="col-sm-2">
                            Document Name<span style="color: red">*</span>:
                        </div>
                        <div class="col-sm-3">
                            <select id="RefNo" class="form-control txtBox" tabindex="" name="RefNo">
                                <option value="">--Select Any--</option>
                                <option value="Proposed Block List">Proposed Block List</option>
                                <option value="Approved Block List">Approved Block List</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="file" class="txtBox" id="UploadFile" name="UploadFile" />
                            <i class="glyphicon glyphicon-upload form-control-feedback"></i>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>List of Document File</label>
                            <div id="FileGrid" class=""></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary btn-md" href='@Url.Action("frmBlockListView", "BlockList")'>Click here to display All Report</a>
        </div>
    </div>
</div>
<div class="box-footer">@*Form Footer*@</div>
<div class="row">
    <div id="DisplayPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="DisplayPopupWindowGrid" class="PopUpGrid"></div>
    </div>

    <div id="CompanyWindow" class="PopupWindowLayout" style="display: none;">
        <div id="CompanyWindowGrid" class="PopUpGrid"></div>
    </div>
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
        opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 42%; color: White;">
        Please wait... <img src="../../Content/Images/ajax-loader1.gif">
    </p>
</div>
<script type="text/javascript">

    $('#btnReset').click(function () {
        ResetData();
        $("#FileGrid").data("kendoGrid").dataSource.data([]);

    });
    $('#btnRevision').click(function () {
        $('#ID').val('');
        $('#SlNo').val('');
        $('#RevisionNo').val('');
        $("#divRenew").find('input, textarea, select').val('');
        $("#FileGrid").data("kendoGrid").dataSource.data([]);
    });

    $(document).ready(function () {
        CheckUnSavedData();
        EventPermission();
        $('.input-group.date').datepicker({
            format: "d/mm/yyyy",//dd M yyyy
            // daysOfWeekDisabled: "5,6",
            autoclose: true,
            todayHighlight: true
            //,todayBtn: true,
        });
        $('#btnView').click(function () {

            DisplayPopupWindow.open();

            $.ajax({
                url: '@Url.Action("GetAllInfo", "BlockList")',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#DisplayPopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        DisplayPopupWindow.close();
                        AcknowledgeMsg();
                    }

                }
            });

        });

        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#DisplayPopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: { type: "string" },
                        }
                    }
                },
                pageSize: 20,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel",{ template: "<input type='text' id='txtPopupInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: "100%",
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ID", hidden: true },
                 { field: "SlNo ", hidden: true, title: "SlNo", width: 70 },
                 { field: "CompanyCode", title: "Code", width: 100 },
                 { field: "CompanyName", title: "CompanyName", width: 160 },
                 { field: "RevisionNo", title: "R.Version", width: 100 },
                 { field: "BLNo", title: "BLNo", width: 100 },
                 { field: "BlockListDate", title: "BlockListDate", width: 120 },
                 { field: "ApprovalDate", title: "ApprovalDate", width: 120 },
                 { field: "ApprovalNo", title: "ApprovalNo", width: 100 },
                 { field: "MeetingDate", title: "MeetingDate", width: 120 },
                 { field: "ProposedDate", title: "ReceivedDate", width: 120 },
                 { field: "Remarks", title: "Remarks", width: 120 }
            ]

        }).data('kendoGrid');

        $('#DisplayPopupWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            DisplayPopupWindow.close();
            SetMasterData(selectRow);

            $.ajax({
                url: '@Url.Action("GetFileByRefId", "BlockList")',
                type: 'GET',
                data: { refLevel1: selectRow.ID },
                success: function (data) {
                    $("#FileGrid").data("kendoGrid").dataSource.data(data);
                }
            });
        });

        //Produc Name wise Filter table row
        $("#txtPopupInput").keyup(function () {
            var val = $(this).val();
            $("#DisplayPopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "SlNo", operator: "contains", value: val },
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "BLNo", operator: "contains", value: val },
                     { field: "RevisionNo", operator: "contains", value: val },
                     { field: "ApprovalNo", operator: "contains", value: val },
                     { field: "BlockListDate", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "MeetingDate", operator: "contains", value: val },
                     { field: "ProposedDate", operator: "contains", value: val }
                ]
            });
        });

        //Display window
        var DisplayPopupWindow = $("#DisplayPopupWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Record."
        }).data("kendoWindow").center();

        // Company window for find button
        var CompanyWindow = $("#CompanyWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Company."
        }).data("kendoWindow").center();

        $('#btnFind').click(function () {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        CompanyWindow.close();
                        AcknowledgeMsg();
                    }

                }
            });

        });
        //Initializing Main page details Kendo Grid Colums
        var companyGrid = $('#CompanyWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CompanyCode",
                        fields: {
                            CompanyCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtCompanyKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "CompanyCode", title: "CompanyCode", width: 80 },
                 { field: "CompanyName", title: "CompanyName", width: 100 },
                 { field: "Address", title: "CompanyAddress", width: 160 },
                 { field: "LicenseNo", title: "LicenseNo", width: 80 }
            ]
        }).data('kendoGrid');

        $('#CompanyWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());

            CompanyWindow.close();
            SetMasterData(selectRow);
            changeAny = 1;

        });

        //Company Name wise Filter table row
        $("#txtCompanyKeyword").keyup(function () {
            var val = $(this).val();
            $("#CompanyWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "Address", operator: "contains", value: val },
                ]
            });
        });
        // $("#SubmissionDate").datepicker('setDate', new Date());
        // $("#SubmissionDate").datepicker({ dateFormat: 'dd MMM yyyy' }).datepicker('setDate', new Date());
        //To Define Data  for Kendo Grid
        var fileDataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "FileID",
                    fields: {
                        FileID: { editable: false },
                        FileCode: { editable: false },
                        Extention: { editable: false },
                        FileName: { editable: false },
                        RefNo: { editable: false },
                        FileSize: { editable: false },
                        SetOn: { editable: false },
                        SetByName: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        //Initializing Main page details Kendo Grid Colums
        var grid = $('#FileGrid').kendoGrid({
            dataSource: fileDataSource,
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo", title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Delete", text: "Delete", imageClass: "glyphicon glyphicon-trash", click: handleFileDelete }], title: "Delete Action", width: "120px", attributes: { "class": "btnDelete" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]

        }).data('kendoGrid');

        $("#txtInput").keyup(function () {
            var val = $(this).val();
            $("#FileGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        function handleFileDelete(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));

            if (confirm('Do you really want to delete this file?')) {
                //event.preventDefault();
                //event.stopPropagation();
                $.ajax({
                    url: '@Url.Action("DeleteFile", "General")',
                    type: 'POST',
                    data: JSON.stringify({ "fileId": dataItemInfo.FileID, "fileCode": dataItemInfo.FileCode, "extention": dataItemInfo.Extention }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        if (response.Status == "Yes") {
                            toastr.success(OperationMsg("FD"));
                            $("#FileGrid").data("kendoGrid").dataSource.remove(dataItemInfo);
                        }
                        else {
                            toastr.error(OperationMsg("FND"));
                        }
                    }
                });
            }
        };
        // Download Button in Grid
        function handleDownload(event) {
             dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
             window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };

        $('#btnSave').click(function () {
            if (changeAny == 1) {
                var checkInput = InputValidation('CompanyCode');
                if (checkInput == 0) {
                    model.ID = $('#ID').val();
                    model.SlNo = $('#SlNo').val();
                    model.CompanyCode = $('#CompanyCode').val();
                    model.BLNo = $('#BLNo').val();
                    model.BlockListDate = $('#BlockListDate').val();
                    model.RevisionNo = $('#RevisionNo').val();
                    model.ApprovalNo = $('#ApprovalNo').val();
                    model.ApprovalDate = $('#ApprovalDate').val();
                    model.MeetingDate = $('#MeetingDate').val();
                    model.ProposedDate = $('#ProposedDate').val();
                    model.Remarks = $('#Remarks').val();
                    $.ajax({
                        url: '@Url.Action("frmBlockList", "BlockList")',
                        data: JSON.stringify(model),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                $("#ID").val(data.ID);
                                $("#SlNo").val(data.SlNo);
                                $("#RevisionNo").val(data.RevisionNo);
                                OperationMsg(data.Mode);
                                changeAny = 0;
                            }
                            else {
                                ErrorFrmServerMsg(data.Status);
                            }

                        }
                    }); //End of ajax call
                }
                else {
                    ValidationMsg();
                }
            }
            else {
                toastr.warning(OperationMsg("NC"));
            }
        });
        var model = { "ID": "", "SlNo": "", "CompanyCode": "", "BLNo": "", "RevisionNo": "", "ApprovalNo": "", "BlockListDate": "", "MeetingDate": "", "ApprovalDate": "", "ProposedDate": "", "Remarks": "" };
        var dataItemInfo = {};

    });

    //$('#image-file').bind('change', function ()
    $('#UploadFile').on('change', function (e) {
        var checkInput = InputValidation('RefNo');
        if (checkInput == 0) {
            var files = e.target.files;
            var refId = $("#ID").val();
            if (refId != "") {
                var fileSize = 0;
                var fSizeStrg = "";
                $file = $("#UploadFile");
                for (var f = 0; f < files.length; f++) {
                    var iSize = ($file[0].files[f].size / 1024);
                    fileSize = (Math.round((iSize / 1024) * 100) / 100);
                    if (fSizeStrg != "") {
                        fSizeStrg += ',' + fileSize;
                    }
                    else {
                        fSizeStrg = fileSize;
                    }
                    if (iSize / 1024 > 25) {
                        iSize = (Math.round((iSize / 1024) * 100) / 100);
                        alert('File size is ' + iSize + ' MB');
                        $("#divLoading").show();
                        if (iSize > 25) {
                            toastr.warning(OperationMsg("UFW"));
                            $("#divLoading").hide();
                            return;
                        }
                    }
                }
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        $("#divLoading").show();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadFile", "BlockList")' + '?refLevel1=' + refId + '&refLevel2=' + "" + '&fileSize=' + fSizeStrg + '&refNo=' + $("#RefNo").val(),
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#divLoading").hide();
                                if (result.msgType == "FUS") {
                                    toastr.success(OperationMsg(result.msgType));
                                    $("#FileGrid").data("kendoGrid").dataSource.data(result.FileList);
                                    $("#RefNo").val('--Select Any--');
                                }
                                else if (result.msgType == "FLI") {
                                    toastr.warning(OperationMsg(result.msgType));
                                }
                                else {
                                    toastr.warning(OperationMsg(result.msgType));
                                }
                            }

                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
            else {
                toastr.warning(OperationMsg("FI"));
            }
        }
        else {
            toastr.error(OperationMsg("SDN"));
        }

    });

</script>

