
@{
   // ViewBag.Title = "frmProductPriceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />
<div class="box-header with-border">
    @*Form Title*@
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <i class="glyphicon glyphicon-filter"></i> Filter By : >> >> >> >> >> >> >><div id="MessageText"></div> 
    </div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
        <div style="text-align:right;">
            <button id="btnSearch" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
            <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
        </div>
    </div>
</div>
<div class="box-body">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Company Code : </div>
            <div class="col-sm-2">
                <input type="text" id="CompanyCode" name="CompanyCode" class="form-control txtBox" readonly />
            </div>
            <div class="col-sm-1"><button id="btnFindCompany" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button></div>
            <div class="col-sm-2">Company Name & LicenseNo :</div>
            <div class="col-sm-3"><input type="text" id="CompanyName" name="CompanyName" class="form-control" readonly /></div>
            <div class="col-sm-2"><input type="text" id="LicenseNo" name="LicenseNo" class="form-control" readonly /></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">AnnexureNo : </div>
            <div class="col-sm-2">
                <input type="text" id="AnnexureNo" name="AnnexureNo" class="form-control txtBox" readonly />
                <input type="hidden" id="AnnexId" name="AnnexId" class="txtBox" />
            </div>
            <div class="col-sm-1"><button id="btnFind" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button></div>
            <div class="col-sm-2">Product Code :</div>
            <div class="col-sm-3"><input type="text" id="ProductCode" name="ProductCode" class="form-control" readonly /></div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Price Change Type :</div>
            <div class="col-sm-3">
                <select id="PriceChangeType" class="txtBox" name="PriceChangeType">
                    <option selected value="All">All</option>
                    <option value="Increase">Increase</option>
                    <option value="Decrease">Decrease</option>
                </select>
            </div>
            <div class="col-sm-2">Price Type :</div>
            <div class="col-sm-3">
                <select id="PriceType" class="txtBox" name="PriceType">
                    <option selected value="All">All</option>
                    <option value="New">New</option>
                    <option value="Revised">Revised</option>
                </select>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">Choose Option : </div>
            <div class="col-sm-2">
                <select id="ChooseOption" class="txtBox" name="ChooseOption">
                    <option selected value="All">All</option>
                    <option value="ReceivedDate">ReceivedDate</option>
                    <option value="SubmissionDate">SubmissionDate</option>
                    <option value="ApprovalDate">ApprovalDate</option>
                </select>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">(From, To)</div>
            <div class="col-sm-2">
                <div class="input-group date">
                    <input type="text" class="form-control txtBox" id="FromDate" name="FromDate" placeholder="dd/mm/yyyy">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group date">
                    <input type="text" class="form-control txtBox" id="ToDate" name="ToDate" placeholder="dd/mm/yyyy">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <div class="form-group">
        <fieldset class="panel-border" id="divRenew">
            <legend class="panel-border">New/Revised Information :</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="LicenseInfoGrid" class=""></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="panel-border">
                    <legend class="panel-border">Document Information :</legend>
                    <div class="row">
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>List of Document File</label>
                            <div id="FileGrid" class=""></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>
<div class="box-footer">@*Form Footer*@</div>
<div class="row">
    <div id="DisplayPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="DisplayPopupWindowGrid" class="PopUpGrid"></div>
    </div>
    <div id="AnnexureWindow" class="PopupWindowLayout" style="display: none;">
        <div id="AnnexureWindowGrid" class="PopUpGrid"></div>
    </div>
    <div id="CompanyWindow" class="PopupWindowLayout" style="display: none;">
        <div id="CompanyWindowGrid" class="PopUpGrid"></div>
    </div>
</div>
<script type="text/javascript">

    $('#btnReset').click(function () {
        ResetData();
        $("#LicenseInfoGrid").data("kendoGrid").dataSource.data([]);
        $("#FileGrid").data("kendoGrid").dataSource.data([]);
    });

    $(document).ready(function () {
        $('.input-group.date').datepicker({
            format: "d/mm/yyyy",//dd M yyyy
            // daysOfWeekDisabled: "5,6",
            autoclose: true,
            todayHighlight: true
            //,todayBtn: true,
        });
        // Company window for find button
        var CompanyWindow = $("#CompanyWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Company."
        }).data("kendoWindow").center();


        $('#btnFindCompany').click(function () {
            CompanyWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllCompany", "General")',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#CompanyWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        CompanyWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });

        //Initializing Main page details Kendo Grid Colums
        var companyGrid = $('#CompanyWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CompanyCode",
                        fields: {
                            CompanyCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtCompanyKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "CompanyCode", title: "CompanyCode", width: 80 },
                 { field: "CompanyName", title: "CompanyName", width: 100 },
                 { field: "Address", title: "CompanyAddress", width: 160 },
                 { field: "LicenseNo", title: "LicenseNo", width: 80 }
            ]

        }).data('kendoGrid');

        $('#CompanyWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            CompanyWindow.close();
            SetMasterData(selectRow);
            changeAny = 1;

        });

        //Company Name wise Filter table row
        $("#txtCompanyKeyword").keyup(function () {
            var val = $(this).val();
            $("#CompanyWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "Address", operator: "contains", value: val }
                ]
            });
        });


        // Start Annexure window for find button
        var AnnexureWindow = $("#AnnexureWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "100%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Annexure"
        }).data("kendoWindow").center();

        $('#btnFind').click(function () {
            AnnexureWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllInfoByCompany", "ProductReg")',
                //method: 'get',
                //data: 'json',
                type: 'GET',
                data: { "companyCode": $('#CompanyCode').val() },
                success: function (data) {
                    if (data != "") {
                        $('#AnnexureWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        AnnexureWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });
        //Initializing Main page details Kendo Grid Colums
        var annexureGrid = $('#AnnexureWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: false,
                schema: {
                    model: {
                        id: "AnnexId",
                        fields: {
                            AnnexId: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel",{ template: "<input type='text' id='txtAnnexureKeyword'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: 430,
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "AnnexId", hidden: true },
                 { field: "AnnexureNo", title: "AnnexureNo", width: 120 },
                 { field: "AnnexRevisionNo", title: "RevisionNo", width: 120 },
                 { field: "ProductCode", title: "ProductCode", width: 120 },
                 { field: "SAPProductCode", title: "SAPCode", width: 100 },
                 { field: "DarNo", title: "DARNo", width: 120 },
                 { field: "ProposedBy", title: "ProposedBy", width: 120 },
                 { field: "SubmissionDate", title: "SubmissionDate", width: 120 },
                 { field: "AnnexStatus", title: "AnnexStatus", width: 80 },
                 { field: "InclusionDate", title: "InclusionDate", width: 120 },
                 { field: "ValidUptoDate", title: "ValidUpto", width: 120 }
            ]

        }).data('kendoGrid');

        $('#AnnexureWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            AnnexureWindow.close();
            SetMasterData(selectRow);
        });

        //Annexure Name wise Filter table row
        $("#txtAnnexureKeyword").keyup(function () {
            var val = $(this).val();
            $("#AnnexureWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "AnnexureNo", operator: "contains", value: val },
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "SAPProductCode", operator: "contains", value: val },
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "InclusionDate", operator: "contains", value: val },
                     { field: "ValidUptoDate", operator: "contains", value: val },
                     { field: "DarNo", operator: "contains", value: val },
                     { field: "ProposedBy", operator: "contains", value: val }
                ]
            });
        });

        //To Define Data  for License info Kendo Grid
        var licenseInfoDataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: true },
                        AnnexId: { editable: true },
                        AnnexureNo: { editable: true },
                        ProductCode: { editable: true },
                        SAPProductCode: { editable: true },
                        RevisionNo: { editable: true },
                        PriceSubmissionDate: { editable: false },
                        PriceProposalDate: { editable: false },
                        ApprovalDate: { editable: false },
                        ReceivedDate: { editable: false },
                        PriceType: { editable: false },
                        PriceChangeType: { editable: false }
                    }
                }
            },
            pageSize: 20
        });

        //Initializing Main page details Kendo Grid Colums
        var licenseInfoGrid = $('#LicenseInfoGrid').kendoGrid({
            dataSource: licenseInfoDataSource,
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            height: 300,
            selectable: "row",
            toolbar: ["excel",{ template: "<input type='text' id='txtInputLicense'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "ID", hidden: true },
            { field: "AnnexId", hidden: true },
            { field: "AnnexureNo", title: "AnnexNo", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ProductCode", title: "ProductCode", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "BrandName", title: "BrandName", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "GenAndStrength", title: "GenericAndStrength", width: 360, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "RevisionNo", title: "RevisionNo", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "SAPProductCode", title: "SAPCode", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "UnitPrice", title: "ProductPrice", width: 140, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "PriceSubmissionDate", title: "SubmissionDate", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "PriceProposalDate", title: "ProposalDate", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ReceivedDate", title: "ReceivedDate", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ApprovalDate", title: "ApprovalDate", width: 120, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "PriceType", title: "PriceType", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "PriceChangeType", title: "PriceChangeType", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "CompanyCode", title: "C.Code", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "CompanyName", title: "CompanyName", width: 160, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "View", text: "View", imageClass: "fa fa-hand-o-right", click: handleView }], title: "Action", width: "120px", attributes: { "class": "btnView" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');
        var paramModel = { "refLevel1": "", "refLevel2": "" }
        // Download Button in Grid
        function handleView(event) {
            var selectedRow = licenseInfoGrid.dataItem($(event.currentTarget).closest("tr"));
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "ProductPrice")',
                type: 'GET',
                data: { "refLevel1": selectRow.ID, "refLevel2": "" },
                success: function (data) {
                    $("#FileGrid").data("kendoGrid").dataSource.data(data);
                }
            });
        };

        $('#LicenseInfoGrid').click(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "ProductPrice")',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: "JSON",
                data: { "refLevel1": selectRow.ID, "refLevel2": "" },
                success: function (data) {
                    $("#FileGrid").data("kendoGrid").dataSource.data(data);
                }
            });
        });

        $("#txtInputLicense").keyup(function () {
            var val = $(this).val();
            $("#LicenseInfoGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RevisionNo", operator: "contains", value: val },
                     { field: "AnnexureNo", operator: "contains", value: val },
                     { field: "ProductCode", operator: "contains", value: val },
                     { field: "BrandName", operator: "contains", value: val },
                     { field: "GenAndStrength", operator: "contains", value: val },
                     { field: "UnitPrice", operator: "contains", value: val },
                     { field: "SubmissionDate", operator: "contains", value: val },
                     { field: "SAPProductCode", operator: "contains", value: val },
                     { field: "ApprovalDate", operator: "contains", value: val },
                     { field: "ReceivedDate", operator: "contains", value: val },
                     { field: "PriceType", operator: "contains", value: val }
                ]
            });
        });

        //To Define Data  for File Kendo Grid
        var fileDataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "FileID",
                    fields: {
                        FileID: { editable: false },
                        FileCode: { editable: false },
                        Extention: { editable: false },
                        FileName: { editable: false },
                        RefNo: { editable: false },
                        FileSize: { editable: false },
                        SetOn: { editable: false },
                        SetByName: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        //Initializing Main page details Kendo Grid Colums
        var grid = $('#FileGrid').kendoGrid({
            dataSource: fileDataSource,
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo",  title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');

        $("#txtInput").keyup(function () {
            var val = $(this).val();
            $("#FileGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        // Download Button in Grid
        function handleDownload(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };

        $('#btnSearch').click(function () {
            var checkInput = 0;//InputValidation('CompanyCode');
            if (checkInput == 0) {
                model.CompanyCode = $('#CompanyCode').val();
                model.AnnexId = $('#AnnexId').val();
                model.PriceType = $('#PriceType').val();
                model.PriceChangeType = $('#PriceChangeType').val();
                model.FromDate = $('#FromDate').val();
                model.ToDate = $('#ToDate').val();
                model.ChooseOption = $('#ChooseOption').val();
                $.ajax({
                    url: '@Url.Action("GetInfoByParams", "ProductPrice")',
                    data: JSON.stringify(model),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        $("#LicenseInfoGrid").data().kendoGrid.bind('dataBound', function (e) {
                            this.element.find('tbody tr:first').addClass('k-state-selected');
                        });
                        $("#LicenseInfoGrid").data("kendoGrid").dataSource.data(data.dataMaster);
                        $("#FileGrid").data("kendoGrid").dataSource.data(data.dataLevel1);
                    }
                }); //End of ajax call
            }
            else {
                ValidationMsg();
            }

        });
        var model = {"CompanyCode":"", "AnnexId": "", "PriceType": "", "PriceChangeType": "", "FromDate": "", "ToDate": "","ChooseOption":"" };
        var dataItemInfo = {};

    });

</script>

